
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Light theme styles */

.light{
    background-color: #cccccc;
    color: black;
}
.light nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    gap: 60px;
    background-color: white;
}
nav div{
    margin-right: 20px;
}
nav h1{
    cursor: pointer;
}
.light nav a{
    text-decoration: none;
    color: black;
    transition: 1s;
    position: relative;
}
.light nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.light nav a:hover::after{
    transform: scaleX(1);
}

.light nav input{
    padding: 8px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 10px;
}
.fa-moon{
    cursor: pointer;
}
.fa-sun{
    cursor: pointer;
}

/* Dark theme styles */

.dark{
    background-color: #121212;
    color: white;
}

.dark nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    gap: 60px;
    background-color: #1e1e1e;
}
.dark nav a{
    text-decoration: none;
    color: white;
    transition: 1s;
    position: relative;
}

.dark nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.dark nav a:hover::after{
    transform: scaleX(1);
}

.dark nav input{
    padding: 8px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 10px;
}


/* welcome section */

.welcome{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}
.a{
    display: flex;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.welcome.show{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out
}

.welcome h2{
    font-size: 36px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.welcome p{
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

span{
    font-weight: bold;
    font-size: 18px;
    color: rgb(62, 62, 62);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcome button{
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(62, 62, 62);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.welcome button:hover{
    background-color: rgb(30, 30, 30);
}
/* products */

.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px 0px;
    margin-top: 50px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}
.product{
    border: 2px solid #595959;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    width: 290px;
    height: 450px;
    background-color: #222;
}
.lighta{
    background-color: #f0f0f0;
    color: black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
}
.products img{
    width: 200px;
    height: 220px;
    transition: all .5s ease-in-out;
}
.products img:hover{
    transform: scale(1.07);
}
.products .str{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    border-top: solid 1px #a5a5a5;
    padding: 20px;

}

.filter{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter h2{
    font-size: 50px;
    line-height: 2px;

}

.filter label{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.filter select{
    padding: 5px;
    border-radius: 10px;
    border: none;
    transition: .4s ;
    text-align: center;
}
.light .filter select{
    border: solid .5px black;
}
.filter select:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
.dark .filter select:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
