body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#c5d1e3 80%);
    flex-direction: column-reverse;
}
h1{
    font-size: 40px;
    margin-top: 70px;
    line-height: 0px;
}
h6{
    font-size: 13px;
    color: rgb(94, 93, 93);
    line-height: 1px;
}
section{
    margin-top: 30px;
    width: 60vw;
    height: 52vh;
    background-color: white;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column; 
    gap: 1px;
    color: black;
    direction: rtl;
}
.div1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 7px 5px;
}
.div1 div{
    background-color: #ebedef;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
}
.div1 div h2{
    font-size: 25px;
    line-height: 1px;
}

.div1 div h4{
    font-size: 12px;
    color: gray;
    line-height: 1px;
}

.div2 div{
    background-color: #3498db;
    color: white;
    direction: rtl;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2 h2{
    font-size: 25px;
    line-height: 1px;
}
.div2 h4{
    color: white;
    font-size: 12px;
    line-height: 1px;
}

/* ============================================  أساسي ============================================== */

/* ============================أخضر وأحمر للرسوب والنجاح============================ */
.div2 .a
{
    background-color: green !important;
}
.div2 .f{
    background-color: rgb(246, 64, 64) !important;
}

.div1 .prf, .div1 .cof, .div1 .tef{
    background-color: red;
}
.div1 .prf h4, .div1 .cof h4, .div1 .tef h4{
    color: white;
}